---
---

@import "{{ site.theme }}";

figure {
  float: center;
  width: 70%;
  text-align: center;
  font-style: normal;
  font-size: smaller;
  text-indent: 0;
  border: none;
  margin: 0.5em;
  padding: 0.5em;
}

table, th, td {
  border: 0px;
}

ol { 
  list-style-type: decimal; 
}

ol ol { 
  list-style-type: lower-alpha; 
}

ol ol ol { 
  list-style-type: lower-roman; 
}
