---
---

@import "{{ site.theme }}";

figure {
  float: center;
  width: 70%;
  text-align: center;
  font-style: normal;
  font-size: smaller;
  text-indent: 0;
  border: none;
  margin: 0.5em;
  padding: 0.5em;
}
